.container
	h1 Welcome, admin {{user.username}}!

	h5 Email: {{user.email}}

	input(ng-model="search", placeholder="Search Orders")

	//- p {{orders}}

	h1 All Orders:

	div.location-container(ng-repeat="order in orders | filter:search | orderBy:'date'")
		h3 {{order.user.username}}
		h5 {{order.user.email}}
		h5 {{order.user.phonenumber}}
		h5 {{order.dateShown}}
		div(ng-repeat="quote in order.quote")
			h3 {{quote.name}}
			h5 {{quote.shirts}} {{quote.shirtStyle}}
			div(ng-repeat="location in quote.locations")
				h5 {{location.colors}} color, {{location.locationName}} print.
				p(ng-repeat="color in location.printColor") {{color}}
			p {{quote.price | currency}}

		.right-side-admin
			.top-right

				input(type="checkbox", ng-model="editStatus")

				div(ng-show="editStatus")
					form(ng-submit="statusChange(order, $index)")
						select(ng-model="order.status" ng-options="option.name as option.name for option in orderStatus")
						button(type="submit") Change Status

				h5(ng-hide="editStatus") Order status: {{order.status}}
			button.btn.btn-danger.btn-sm(ng-click="deleteMasterOrder(order, $index)") DELETE ORDER
	hr

	a.cart-button(href="/logout")
		.btn.btn-info.btn-sm Logout
