.hero-unit
	.hero-text
		h1 Advantage Screen Print
		h2 Our goal is to provide the best quality screen printing, at an affordable price.
		p
			a(href="#/login").btn.btn-primary.btn-large Login/SignUp