.container
	.login-container
		.login
			h3 Login
			form(ng-submit="login()")
				.input-field
					input(type="text", ng-model="user.username", placeholder="Username")
				.input-field
					input(type="password", ng-model="user.password", placeholder="Password")
				.input-field
					input(type="submit")
		.login
			h3 Sign Up
			form(ng-submit="newuser()")
				.error-message(ng-show="err") This user already exists
				.input-field
					input(type="text", ng-model="newUser.username", placeholder="Username")
				.input-field
					input(type="email", ng-model="newUser.email", placeholder="Email")
				.input-field
					input(type="password", ng-model="newUser.password", placeholder="Password")
				.input-field
					input(type="number", ng-model="newUser.phonenumber", placeholder="Phone number")
				.input-field
					input(type="submit")