.container
	.login-container
		.login
			h3 Existing Users
			form(ng-submit="login()")
				div
					input(type="text", ng-model="user.username", placeholder="Username")
				div
					input(type="password", ng-model="user.password", placeholder="Password")
				div
					input(type="submit")
		.login
			h3 Register
			form(ng-submit="newuser()")
				div
					input(type="text", ng-model="newUser.username", placeholder="Username")
				div
					input(type="email", ng-model="newUser.email", placeholder="Email")
				div
					input(type="password", ng-model="newUser.password", placeholder="Password")
				div
					input(type="number", ng-model="newUser.phonenumber", placeholder="Phone number")
				div
					input(type="submit")