.container
	.location-container(ng-repeat="order in orders | filter:search")
		h5 {{order.dateShown}}
		a(href="#/order/{{order._id}}")
			h1 order.name
		div(ng-repeat="quote in order.quote")
			h3 {{quote.name}}
			h5 {{quote.shirts}} {{quote.shirtStyle}}
			div(ng-repeat="location in quote.locations")
				h5 {{location.colors}} color, {{location.color}} {{location.locationName}} print.
			h5 {{quote.price | currency}}

		.right-side
			.top-right
				h5 Order status: {{order.status}}
			button.btn.btn-danger.btn-sm(ng-click="deleteOrder(order, $index)") DELETE ORDER