.container
	.user-container
		h1 Welcome, {{user.username}}!

		h5 Email: {{user.email}}

		h5 Phone Number: {{user.phonenumber}}

		a.profile-button(ng-href="#/quotes")
			.btn.btn-info.btn-lg Get Quote/Place Order

	input(ng-model="search", placeholder="Search Orders")

	div
		h1 Orders:

		div.location-container(ng-repeat="order in orders | filter:search | orderBy:'date'")
			h5 {{order.dateShown}}
			a(href="#/order/:{{order._id}}")
				h1 order.name
			div(ng-repeat="quote in order.quote")
				a(href="#/order/:{{order._id}}")
					h1 {{quote.name}}
				h5 {{quote.shirts}} {{quote.shirtStyle}}
				div(ng-repeat="location in quote.locations")
					h5 {{location.colors}} color, {{location.color}} {{location.locationName}} print.
				h5 {{quote.price | currency}}

			.right-side
				.top-right
					h5 Order status: {{order.status}}
				button.btn.btn-danger.btn-sm(ng-click="deleteOrder(order, $index)") DELETE ORDER
			
			

	hr

	a.cart-button(href="/logout")
		.btn.btn-info.btn-sm Logout
