.container
	.user-container
		h1 Welcome, {{user.username}}!

		h5 Email: {{user.email}}

		a.profile-button(ng-href="#/quotes")
			.btn.btn-info.btn-lg Get Quote/Place Order

	input(ng-model="search", placeholder="Search Orders")

	div(ng-show="orders")
		h2 Orders:

		div.location-container(ng-repeat="order in orders | filter:search")
			h6 {{order.date}}
			div(ng-repeat="quote in order.quote")
				h4 {{quote.name}}
				div(ng-repeat="location in quote.locations")
					h5 {{location.colors}} color, {{location.color}} {{location.locationName}} print.
				h6 {{quote.price | currency}}

			.right-side
				.top-right
					h5 Order status: {{order.status}}
				button.btn.btn-danger.btn-sm(ng-click="deleteOrder()") CANCEL ORDER
			
			

	hr

	a.cart-button(href="/logout")
		.btn.btn-info.btn-sm Logout
