.container
	h4 Get a quote!  
	form
		div(class="form-group")
			label How many shirts:
			input(class="form-control shirts" placeholder="Number of shirts")

		div(class="checkbox")
			label
				input(type="checkbox") Polyester/Blend
		div
			label How many print locations:
				select(id="number-prints")
					option(value="1") 1
					option(value="2") 2
					option(value="3") 3
					option(value="4") 4
					option(value="5") 5
					option(value="6") 6

		hr

		div(class="colors-container")

		hr
								
									
		div
			button(type="submit" class="btn btn-info submit-button") Get quote!
									
		hr

							
	div(class="total-container")

	div
		p *Quotes are only for print price, if you would like to order shirts go 
			a(href="https://www.alphabroder.com/") here!










