.container
	h1 Get a quote!
	form(ng-submit="newQuote()")
		div(class="form-group")
			h3 Job Name:
			input(ng-model="quote.name") 
			h5 How many shirts:
			input(ng-model="quote.shirts", class="form-control shirts" placeholder="Number of shirts")
			h5 Shirt Color
			input(ng-model="quote.shirtColor", class="form-control shirts" placeholder="Shirt Color")
			h5 What kind of shirt?
			select(ng-model="quote.shirtStyle", ng-options="option.name as option.name for option in shirtStyle")

		div
			h4 How many print locations:
				select(ng-model="locations", ng-options="option.val as option.name for option in options")

				
		div(ng-repeat="quote in locationList | limitTo:locations")
			div(class="form-group")
				h5 How many colors:
				select(ng-init="quote.colors = options[0].val", class="colors", ng-model="quote.colors", ng-options="option.val as option.name for option in colorNumber")
				div(ng-model="quote.printColor", ng-repeat="color in colorNumber | limitTo:quote.colors")
					h5 Print color:
						input
				h6 Location
				select(ng-model="quote.locationName", ng-options="option.name as option.name for option in locationName")
				h5 Upload art files
				input(type="file", ng-model="quote.art")
			hr

		div
			button(type="submit" class="btn btn-info submit-button") Get quote!
									
		hr

							
	.total-container
		h1(ng-show="returnQuote") Shirts: {{returnQuote.shirts}}
		div(ng-show="returnQuote", ng-repeat="item in returnQuote.locations")
			hr
			p location: {{item.locationName}} 
			p {{item.colors}} Color
		p(ng-show="returnQuote") Total: {{returnQuote.price | currency}}

		form(ng-show="returnQuote", ng-submit="newOrder()")
			input(type="submit", value="Submit Order")
			

	div(ng-show="returnQuote")
		p * Quotes are only for print price, if you would like to order shirts go 
			a(href="https://www.alphabroder.com/") here!
